/*------------------------------------------------------------------
[Boldway Master Stylesheet]

Project:	Boldway
Version:	0.1
Last change:	14/01/2015
Primary use:	Boldway 
Author:  Designenfold

-------------------------------------------------------------------

[Table of contents]

1. Reset
2. Body
3. Typography
4. Form
5. Link
6. Helpers
7. Table
8. Image
9. Iframe
10. Columns
11. Grid
12. Headings
13. Button
14. List
15. Icons
16. Social Icons
17. Social Share
18. Alert boxes
19. Boxes
20. Flip Box
21. Banner
22. Call to Action
23. Info Box
24. Info List
25. Info Table
26. Info Banner
27. Stats Counter
28. Timeline
29. Modal
30. Countdown Timer
31. Pricing Table
32. Image Carousel
33. Parallx Section
34. Background Video
35. Blog Simple
36. Blog List
37. Blog Grid
38. Blog Big List
39. Divider
40. Person Box
41. Popover
43. Tooltip
44. Post Slider
45. Image Slider
46. Progress Bar
47. Tab Top
48. Tab Left
49. Tab Right
50. Tab Bottom
51. Toggles
52. Accordin Tab
53. Testimonials Slider
54. Testimonials Grid
55. Dropcap
56. WordPress Require
57. WordPress Comments
58. Primary Menu
59. Secondary Menu
60. Footer Menu
61. WordPress Widgets
62. Twitter Feed List
63. Twitter Feed Slider
64. Header Phone
65. Header Email
66. Header Search
67. Header Login-Register
68. Header Banner
69. Header Text
70. Header WooCommerce Cart
71. Header WPML Menu
72. Header Social Icons
73. Alignment
74. Pagination
75. Pager
76. Labels
78. Badges
79. Person List
80. Person Big List

-------------------------------------------------------------------*/