/*------------------------------------------------------------------
[Boldway Master Stylesheet]

Project:	Boldway
Version:	0.1
Last change:	14/01/2015
Primary use:	Boldway 
Author:  Designenfold

======================================================================================

[Table of contents]

1. Reset
2. Body
3. Typography
4. Form
5. Link
6. Helpers
7. Table
8. Image
9. Iframe
10. Columns
11. Grid
12. Headings
13. Button
14. List
15. Icons
16. Social Icons
17. Social Share
18. Alert boxes
19. Boxes
20. Flip Box
21. Banner
22. Call to Action
23. Info Box
24. Info List
25. Info Table
26. Info Banner
27. Stats Counter
28. Timeline
29. Modal
30. Countdown Timer
31. Pricing Table
32. Image Carousel
33. Parallx Section
34. Background Video
35. Blog Simple
36. Blog List
37. Blog Grid
38. Blog Big List
39. Divider
40. Person Box
41. Popover
43. Tooltip
44. Post Slider
45. Image Slider
46. Progress Bar
47. Tab Top
48. Tab Left
49. Tab Right
50. Tab Bottom
51. Toggles
52. Accordin Tab
53. Testimonials Slider
54. Testimonials Grid
55. Dropcap
56. WordPress Require
57. WordPress Comments
58. Primary Menu
59. Secondary Menu
60. Footer Menu
61. WordPress Widgets
62. Twitter Feed List
63. Twitter Feed Slider
64. Header Phone
65. Header Email
66. Header Search
67. Header Login-Register
68. Header Banner
69. Header Text
70. Header WooCommerce Cart
71. Header WPML Menu
72. Header Social Icons
73. Alignment
74. Pagination
75. Pager
76. Labels
77. Badges
78. Person List
79. Person Big List

======================================================================================*/



/*======================================================================================
	1. Reset
======================================================================================*/
	html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    :focus{ outline: 0; }
    body{ line-height: 1; }
    ol, ul{ margin-left:18px; }
    table{ border-collapse: collapse; border-spacing: 0; }
    caption, th, td{ text-align: left; font-weight: normal; }
    blockquote:before, blockquote:after,
    q:before, q:after { content: ""; }
    blockquote, q{ quotes: none; } 
    article, aside, details, figcaption, figure, footer, 
    header, hgroup, menu, nav, section{ display: block; }




/*======================================================================================
	2. Body
======================================================================================*/
body{
	
}




/*======================================================================================
	3. Typography
======================================================================================*/
p{ margin-bottom:20px; }
h1, h2, h3, h4, h5, h6{
	
}
h1{  }
h2{  }
h3{  }
h4{  }
h5{  }
h6{  }
hr{  }
blockquote{
	
}
pre{
	
}
code{
	
}
ul{  }
ol{  }
ul li{  }
ol li{  }





/*======================================================================================
	4. Form
======================================================================================*/




/*======================================================================================
	5. Link
======================================================================================*/
a{
	
}
a:hover{
	
}




/*======================================================================================
	6. Helpers
======================================================================================*/
.clear{  }




/*======================================================================================
	7. Table
======================================================================================*/




/*======================================================================================
	8. Image
======================================================================================*/
img{ max-width:100%; width:auto; }




/*======================================================================================
	9. Iframe
======================================================================================*/




/*======================================================================================
	10. Columns
======================================================================================*/
.boldway-columns{ width:100%; margin-bottom:40px; *zoom: 1; }
.boldway-columns:before,
.boldway-columns:after { display: table; content: ""; line-height: 0; }
.boldway-columns:after { clear: both; }
.boldway-columns.nomargin { margin-bottom:0 !important; }
.boldway-column{
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 2.857142857142857%;
  	*margin-left: 2.8095238095238098%; 
}
.boldway-column:first-child{ margin-left:0; }
.boldway-column-1{ width: 5.714285714285714%; *width: 5.666666666666667%; }
.boldway-column-2{ width: 14.285714285714286%; *width: 14.238095238095239%; }
.boldway-column-3{ width: 22.857142857142858%; *width: 22.80952380952381%; }
.boldway-column-4{ width: 31.42857142857143%; *width: 31.380952380952383%; }
.boldway-column-5{ width: 40%; *width: 39.95238095238095%; }
.boldway-column-6{ width: 48.57142857142857%; *width: 48.52380952380952%; }
.boldway-column-7{ width: 57.14285714285714%; *width: 57.09523809523809%; }
.boldway-column-8{ width: 65.71428571428572%; *width: 65.66666666666667%; }
.boldway-column-9{ width: 74.28571428571429%; *width: 74.23809523809524%; }
.boldway-column-10{ width: 82.85714285714286%; *width: 82.80952380952381%; }
.boldway-column-11{ width: 91.42857142857143%; *width: 91.38095238095238%; }
.boldway-column-12{ width: 100%;  *width: 99.95238095238095%; }



/*======================================================================================
	11. Grid
======================================================================================*/
.boldway-cols{
	
}
.boldway-col{
	
}
.boldway-col-1{  }
.boldway-col-2{  }
.boldway-col-3{  }
.boldway-col-4{  }
.boldway-col-5{  }
.boldway-col-6{  }
.boldway-col-7{  }
.boldway-col-8{  }




/*======================================================================================
	12. Headings
======================================================================================*/

/* Skin1
-------------------------------------------------------*/
	.boldway-headings{
		
	}
	
	/*	Color Dark
	+++++++++++++++++++++++++++*/
	
	/*	Color Light
	+++++++++++++++++++++++++++*/
	

/* Skin2
-------------------------------------------------------*/
	.boldway-headings2{
		
	}
	
	/*	Color Dark
	+++++++++++++++++++++++++++*/
	
	
	/*	Color Light
	+++++++++++++++++++++++++++*/
	

/* Skin3
-------------------------------------------------------*/
	.boldway-headings3{
		
	}
	
	/*	Color Dark
	+++++++++++++++++++++++++++*/
	
	
	/*	Color Light
	+++++++++++++++++++++++++++*/
	
	
/* Skin4
-------------------------------------------------------*/
	.boldway-headings4{
		
	}
	
	/*	Color Dark
	+++++++++++++++++++++++++++*/
	
	
	/*	Color Light
	+++++++++++++++++++++++++++*/




/*======================================================================================
	13. Button
======================================================================================*/

/* Skin flat
-------------------------------------------------------*/
	.boldway-button-flat{
		
	}
	
	/* Size
	++++++++++++++++++++++*/
	.boldway-button-flat.1x{  }
	.boldway-button-flat.2x{  }
	.boldway-button-flat.3x{  }
	.boldway-button-flat.4x{  }
	.boldway-button-flat.5x{  }
	.boldway-button-flat.6x{  }
	
	
	/* color
	++++++++++++++++++++++*/
	.boldway-button-flat.red{  }
	.boldway-button-flat.red:hover{  }
	
	.boldway-button-flat.green{  }
	.boldway-button-flat.green:hover{  }
	
	.boldway-button-flat.black{  }
	.boldway-button-flat.black:hover{  }
	
	.boldway-button-flat.white{  }
	.boldway-button-flat.white:hover{  }
	
	.boldway-button-flat.blue{  }
	.boldway-button-flat.blue:hover{  }
	
	.boldway-button-flat.yellow{  }
	.boldway-button-flat.yellow:hover{  }
	
	.boldway-button-flat.pink{  }
	.boldway-button-flat.pink:hover{  }
	




/*======================================================================================
	14. List
======================================================================================*/




/*======================================================================================
	15. Icons
======================================================================================*/




/*======================================================================================
	16. Social Icons
======================================================================================*/




/*======================================================================================
	17. Social Share
======================================================================================*/




/*======================================================================================
	18. Alert boxes
======================================================================================*/




/*======================================================================================
	19. Boxes
======================================================================================*/




/*======================================================================================
	20. Flip Box
======================================================================================*/




/*======================================================================================
	21. Banner
======================================================================================*/




/*======================================================================================
	22. Call to Action
======================================================================================*/




/*======================================================================================
	23. Info Box
======================================================================================*/




/*======================================================================================
	24. Info List
======================================================================================*/




/*======================================================================================
	25. Info Table
======================================================================================*/




/*======================================================================================
	26. Info Banner
======================================================================================*/




/*======================================================================================
	27. Stats Counter
======================================================================================*/




/*======================================================================================
	28. Timeline
======================================================================================*/




/*======================================================================================
	29. Modal
======================================================================================*/




/*======================================================================================
	30. Countdown Timer
======================================================================================*/




/*======================================================================================
	31. Pricing Table
======================================================================================*/




/*======================================================================================
	32. Image Carousel
======================================================================================*/




/*======================================================================================
	33. Parallx Section
======================================================================================*/




/*======================================================================================
	34. Background Video
======================================================================================*/




/*======================================================================================
	35. Blog Simple
======================================================================================*/




/*======================================================================================
	36. Blog List
======================================================================================*/




/*======================================================================================
	37. Blog Grid
======================================================================================*/




/*======================================================================================
	38. Blog Big List
======================================================================================*/




/*======================================================================================
	39. Divider
======================================================================================*/




/*======================================================================================
	40. Person Box
======================================================================================*/




/*======================================================================================
	41. Popover
======================================================================================*/




/*======================================================================================
	43. Tooltip
======================================================================================*/




/*======================================================================================
	44. Post Slider
======================================================================================*/




/*======================================================================================
	45. Image Slider
======================================================================================*/




/*======================================================================================
	46. Progress Bar
======================================================================================*/




/*======================================================================================
	47. Tab Top
======================================================================================*/




/*======================================================================================
	48. Tab Left
======================================================================================*/




/*======================================================================================
	49. Tab Right
======================================================================================*/




/*======================================================================================
	50. Tab Bottom
======================================================================================*/




/*======================================================================================
	51. Toggles
======================================================================================*/




/*======================================================================================
	52. Accordin Tab
======================================================================================*/




/*======================================================================================
	53. Testimonials Slider
======================================================================================*/




/*======================================================================================
	54. Testimonials Grid
======================================================================================*/




/*======================================================================================
	55. Dropcap
======================================================================================*/




/*======================================================================================
	56. WordPress Require
======================================================================================*/




/*======================================================================================
	57. WordPress Comments
======================================================================================*/




/*======================================================================================
	58. Primary Menu
======================================================================================*/




/*======================================================================================
	59. Secondary Menu
======================================================================================*/

/* Skin 1
-------------------------------------------------------*/
	#secondary_nav.sk-1{  }
	#secondary_nav.sk-1 ul{ margin:0; padding:0; list-style-type:none; }
	#secondary_nav.sk-1 ul li{ float:left; }
	#secondary_nav.sk-1 ul li a{ text-decoration:none; }
	
	
	/*	Color Dark
	+++++++++++++++++++++++++++*/
	#secondary_nav.sk-1.co-dark ul li{  }
	#secondary_nav.sk-1.co-dark ul li a{  }
	
	
	/*	Color light
	+++++++++++++++++++++++++++*/
	#secondary_nav.sk-1.co-light ul li{  }
	#secondary_nav.sk-1.co-light ul li a{  }
	


/*======================================================================================
	60. Footer Menu
======================================================================================*/




/*======================================================================================
	61. WordPress Widgets
======================================================================================*/




/*======================================================================================
	62. Twitter Feed List
======================================================================================*/




/*======================================================================================
	63. Twitter Feed Slider
======================================================================================*/




/*======================================================================================
	64. Header Phone
======================================================================================*/




/*======================================================================================
	65. Header Email
======================================================================================*/




/*======================================================================================
	66. Header Search
======================================================================================*/




/*======================================================================================
	67. Header Login-Register
======================================================================================*/




/*======================================================================================
	68. Header Banner
======================================================================================*/




/*======================================================================================
	69. Header Text
======================================================================================*/




/*======================================================================================
	70. Header WooCommerce Cart
======================================================================================*/




/*======================================================================================
	71. Header WPML Menu
======================================================================================*/




/*======================================================================================
	72. Header Social Icons
======================================================================================*/




/*======================================================================================
	73. Alignment
======================================================================================*/




/*======================================================================================
	74. Pagination
======================================================================================*/




/*======================================================================================
	75. Pager
======================================================================================*/




/*======================================================================================
	76. Labels
======================================================================================*/




/*======================================================================================
	77. Badges
======================================================================================*/




/*======================================================================================
	78. Person List
======================================================================================*/




/*======================================================================================
	79. Person Big List
======================================================================================*/




